.parallax-container {
  position: relative;
  width: 100%;
  height: 200vh; /* Adjusted for 2 sections */
  overflow: hidden;
}

.background-layer {
  background: url("/images/background1.jpeg") repeat-x;
  background-size: cover;
  animation: moveBackground 100s linear infinite;
  height: 100%;
}

.background-layer-2 {
  background: url("/images/background2.jpeg") repeat-x;
  background-size: cover;
  animation: moveBackground 100s linear infinite;
  height: 100%;
}

@keyframes moveBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

.car img {
  width: 350px;
  height: 350px;
}

.car {
  position: relative;
  animation: growInfinite 50s infinite;
}

.planet img {
  width: 300px;
  height: 300px;
}

.planet {
  position: relative;
  animation: growInfinite 50s infinite;
}

.land img {
  width: 100%;
  height: auto;
}

.land {
  position: absolute;
  bottom: -5px;
  width: 100%;
}

@keyframes growInfinite {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.main-topic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
}

.section2 {
  padding: 20px;
}
