.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: url("/images/background1.jpeg") repeat-x;
  animation: moveBackground 100s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

.car {
  position: relative;
  animation: growInfinite 50s infinite;
}

@keyframes growInfinite {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.main-topic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
}
